<%- include("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" placeholder="Title">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[image]" placeholder="Image url">
		</div>
		<div class="field">
			<label>Blog Content</label>
			<textarea name="blog[body]"></textarea>
		</div>
		<!--Below are examples of different ways we can use buttons to input a form-->
		<input class="ui primary button" type="submit">
		<button class="ui primary button">Save</button>	
		<button class="ui animated button" tabindex="0">
		  <div class="visible content">Next</div>
		  <div class="hidden content">
			<i class="right arrow icon"></i>
		  </div>
		</button>
	</form>
</div>

<%- include("partials/footer") %>