<%- include("partials/header") %>

<h1>
	This is the home page!!
</h1>

<img src="https://parade.com/wp-content/uploads/2018/03/golden-puppy-life-national-geographic-ftr.jpg">


<%- include("partials/footer") %>
